:root {
  /* Neutral colors */
  --transparent_white: hsla(0, 0%, 100%, 0.75);
  --very_light_gray: hsl(0, 0%, 95%);

  /* Primary colors*/
  --bright_orange: hsl(31, 77%, 52%);
  --dark_cyan: hsl(184, 100%, 22%);
  --very_dark_cyan: hsl(179, 100%, 13%);
}

html {
  font-size: 45px;
}

/* Mobile version */
@media screen and (max-width: 667px) {
  body {
    font-family: sans-serif;
    font-weight: bold;
    background-color: var(--transparent_white);
  }

  .main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .article {
    padding: 30px;
  }

  .article__image {
    padding-bottom: 20px;
    width: 30%;
  }

  .article__title {
    font-family: "Big Shoulders Display", cursive;
    color: white;
    font-size: 1.1em;
    padding-bottom: 20px;
  }

  .article__desc {
    font-family: "Lexend Deca", sans-serif;
    color: var(--transparent_white);
    font-size: 0.3em;
    font-weight: 300;
    padding-bottom: 20px;
    line-height: 1.5;
  }

  .article__button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .article__button:hover {
    background: transparent;
    border: white;
    color: white;
    cursor: pointer;
  }

  .article__sedans button {
    color: var(--bright_orange);
  }
  .article__suvs button {
    color: var(--dark_cyan);
  }
  .article__luxury button {
    color: var(--very_dark_cyan);
  }

  .article__sedans {
    background-color: var(--bright_orange);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  .article__suvs {
    background-color: var(--dark_cyan);
  }
  .article__luxury {
    background-color: var(--very_dark_cyan);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }

  .button {
    border-radius: 30px;
  }
}
